* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #1b1b20;
  color: white;
  font-family: Cambria, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b20;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 10px 0;
}

.todo-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Todo List*/

.main-todo-list {
  width: 600px;
  min-height: 500px;
  background-color: #d5d5d5;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  border-radius: 20px;
}

